body {
    text-align: center;
    background-color: #826C7F; 
  }
  
  h1 {
    color: #D4B2D8;
    font-family: dawnoraTH, sans-serif;
  }

  p {
    color: #D4B2D8;
    margin-bottom: 20px;
  }
  
  